<template>
  <Button icon="pi pi-user" class="p-button-rounded p-button-info mr-2" />
  <Button label="Error" class="p-button-danger" @click="() => $emit('logout')">Logout</Button>
</template>

<script setup>
defineEmits(["logout"]);
</script>

<style></style>
