<template>
  <NuxtLink to="/login" class="no-underline">
    <Button label="Secondary" class="p-button-secondary mr-2">Login</Button>
  </NuxtLink>
  <NuxtLink to="/register" class="no-underline">
    <Button label="Warning" class="p-button-warning">Register</Button>
  </NuxtLink>
</template>

<script setup></script>

<style></style>
