<template>
  <div class="flex flex-row min-h-screen">
    <Toast position="bottom-right" />
    <Button icon="pi pi-bars" @click="visibleLeft = true" class="mr-2 w-3rem h-3rem" />
    <Sidebar v-model:visible="visibleLeft" :baseZIndex="10000">
      <nav class="flex flex-column">
        <NuxtLink
          to="/"
          @click="visibleLeft = false"
          class="pi pi-home text-2xl no-underline text-blue-600 hover:text-white hover:bg-blue-600 p-2 border-1 border-solid border-blue-600 border-round-md mb-3"
        >
          Home Page</NuxtLink
        >
        <NuxtLink
          to="/projects"
          @click="visibleLeft = false"
          class="pi pi-list text-2xl no-underline text-blue-600 hover:text-white hover:bg-blue-600 p-2 border-1 border-solid border-blue-600 border-round-md"
        >
          Projects</NuxtLink
        >
      </nav>
    </Sidebar>
    <NuxtPage />
  </div>
</template>

<script setup>
import { ref } from "vue";
import Toast from "primevue/toast";
const visibleLeft = ref(false);
</script>

<style></style>
