<script setup>
import { useToast } from "primevue/usetoast";
import { useAccountStore } from "@/store/account";
import { loginWithSms } from "@/services/auth";
import { setCookie } from "@/utils/utilsCookies";

definePageMeta({
  middleware: ["phone", "profile"],
});

const account = useAccountStore();
const toast = useToast();

const confirmation = ref("");

async function handleConfirm() {
  try {
    const res = await loginWithSms({ code: confirmation.value, phone: account.user.phone });
    const token = res.data.data.access_token;
    const maxAge = res.data.data.expires_in;

    setCookie("Bearer-token", token, { "max-age": maxAge });
    account.SET_AUTH(true);
    toast.add({ severity: "success", summary: "Успешно!", detail: "Получили Access Token", life: 3000 });
    navigateTo("/projects");
  } catch (error) {
    toast.add({ severity: "error", summary: "Возникла ошибка", detail: error?.response?.data?.error, life: 3000 });
  }
}
</script>
<template>
  <div
    class="w-12 border-2 border-solid border-gray-700 border-round-md flex flex-column align-items-center justify-content-center"
  >
    <h3 class="text-xl uppercase">Confirm</h3>
    <InputText type="text" v-model="confirmation" class="mb-3" placeholder="Enter SMS Code" />
    <Button label="Confirm" @click="handleConfirm" />
  </div>
</template>

<style></style>
