<script setup>
import { useAccountStore } from "~~/store/account";
import { useToast } from "primevue/usetoast";
import { deleteCookie } from "~~/utils/utilsCookies";

const account = useAccountStore();

const toast = useToast();

function logout() {
  deleteCookie("Bearer-token");
  account.SET_AUTH(false);
}
</script>

<template>
  <div class="absolute top-0 right-0 p-2">
    <TheAuthorizedHeader v-if="account.isAuth" @logout="logout" />
    <TheUnauthorziedHeader v-else />
  </div>
</template>

<style></style>
