<script setup>
import { login } from "@/services/auth";
import { useToast } from "primevue/usetoast";
import { useAccountStore } from "@/store/account";

definePageMeta({
  middleware: ["profile"],
});

const account = useAccountStore();
const toast = useToast();
const phone = ref("");

async function handleClick() {
  try {
    const res = await login({ phone: phone.value });

    toast.add({ severity: "success", summary: "Успешно!", detail: res?.data?.data?.message, life: 3000 });
    account.SET_USER({ phone: phone.value });
    navigateTo("/confirm");
  } catch (error) {
    error?.response?.data?.data?.phone?.forEach((message) => {
      toast.add({ severity: "error", summary: "Возникла ошибка", detail: message, life: 3000 });
    });
  }
}
</script>
<template>
  <div
    class="w-12 border-2 border-solid border-gray-700 border-round-md flex flex-column align-items-center justify-content-center"
  >
    <h3 class="text-xl uppercase">Login form</h3>
    <InputMask mask="+7(999) 999-9999" v-model="phone" class="mb-3" placeholder="+7(999) 999-9999" />
    <!-- <InputText type="text" v-model="phone" class="mb-3" placeholder="Enter Phone number" /> -->
    <Button label="Submit" @click="handleClick" />
  </div>
</template>

<style></style>
