<script setup>
import { getCompanies } from "@/services/company";
const companiesList = ref([]);
definePageMeta({
  middleware: ["auth"],
});

async function fetchCompaniesList() {
  try {
    const { data: response } = await getCompanies();
    companiesList.value = response.data;
  } catch (error) {
    console.log(error);
  }
}
onMounted(async () => {
  await fetchCompaniesList();
});
</script>

<template>
  <div>
    <h1>Companies</h1>
    <NuxtLink>
      <Button label="Secondary" class="p-button-secondary mr-2">Create</Button>
    </NuxtLink>
    <ul>
      <li v-for="(company, index) in companiesList" :key="index">{{ company }}</li>
    </ul>
  </div>
</template>

<style></style>
