<script setup>
import { reactive } from "vue";
import { register } from "~~/services/auth";
import { useToast } from "primevue/usetoast";
import { useAccountStore } from "@/store/account";

const toast = useToast();
const account = useAccountStore();

async function signUp() {
  try {
    const res = await register({
      first_name: form.firstName,
      last_name: form.lastName,
      email: form.email,
      phone: form.phone,
    });

    account.SET_USER({ phone: form.phone });
    navigateTo("/confirm");

    toast.add({
      severity: "success",
      summary: "Регистрация прошла успешно",
      detail: res?.data?.data?.message,
      life: 3000,
    });
  } catch (error) {
    error?.response?.data?.data?.phone?.forEach((message) => {
      toast.add({ severity: "error", summary: "Возникла ошибка", detail: message, life: 3000 });
    });
  }
}

definePageMeta({
  middleware: ["profile"],
});

const form = reactive({
  firstName: "",
  lastName: "",
  email: "",
  phone: "",
});
</script>

<template>
  <div
    class="w-12 border-2 border-solid border-gray-700 border-round-md flex flex-column align-items-center justify-content-center"
  >
    <h3 class="text-xl uppercase">Register form</h3>
    <form @click.prevent class="flex flex-column">
      <InputText type="text" v-model="form.firstName" class="mb-3" placeholder="Enter First Name" />
      <InputText type="text" v-model="form.lastName" class="mb-3" placeholder="Enter Last Name" />
      <InputText type="email" v-model="form.email" class="mb-3" placeholder="Enter Email Address" />
      <InputMask mask="+7(999) 999-9999" v-model="form.phone" class="mb-3" placeholder="+7(999) 999-9999" />
      <!-- <InputText type="text" v-model="form.phone" class="mb-3" placeholder="Enter Phone number" /> -->
      <Button label="Submit" @click="signUp" />
    </form>
  </div>
</template>

<style></style>
